/* Klim Test Newzald for prose (`font-prose`), pending the ADR 042 decision.
   WOFF2 from the Klim test font pack (see src/fonts/KLIM-TEST-LICENCE.txt);
   the licence forbids redistribution, so the woff2 files are gitignored and
   only present on a developer machine. font-display: optional so UI never
   blocks on the second face; the regular weight is preloaded in
   vite/plugins/preload-fonts.ts so it wins the cold-visit race. The Latin
   unicode-range keeps non-Latin text from requesting these files at all.
   Without the files, text renders in the fallback stack via
   "Test Newzald Fallback" (theme-tokens.css). */
@font-face {
	font-family: "Test Newzald";
	font-style: normal;
	font-weight: 400;
	font-display: optional;
	src: url("../fonts/test-newzald-book.woff2") format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Test Newzald";
	font-style: italic;
	font-weight: 400;
	font-display: optional;
	src: url("../fonts/test-newzald-book-italic.woff2") format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Test Newzald";
	font-style: normal;
	font-weight: 700;
	font-display: optional;
	src: url("../fonts/test-newzald-bold.woff2") format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Test Newzald";
	font-style: italic;
	font-weight: 700;
	font-display: optional;
	src: url("../fonts/test-newzald-bold-italic.woff2") format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
